<!-- Affichage d'un passager -->
<div class="columns">
    <div class="column" *ngIf="photoVisible">
        <img [src]="passager.image">
    </div>
    <div class="column">
        <div [matTooltip]="passager.email">
            {{ passager.nom }}
        </div>
    </div>
    <div class="column">
        <span [appClasseVol]="passager.classeVol">
            {{ passager.classeVol }}
        </span>
    </div>
    <div class="column" [appClasseBagageWarning]="passager.classeVol" [nbBagages]="passager.nbBagagesSoute">
        <mat-icon>
            work
        </mat-icon>
        <span>x{{ passager.nbBagagesSoute }}</span>
    </div>
</div>
