.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .toolbar {
    box-shadow: 0 0 10px black;
    z-index: 2;
  }

  .routing {
    height: calc(100% - 100px);
  }
}
