@import '../../../styles';

.filtres-container {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;

  background-color: white;

  mat-form-field {
    width: 35%;

    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }

  .apply-button {
    background-color: $accent;
    color: white;
  }
}
