@import '../../../styles';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $white;

  .logo {
    display: flex;
    height: inherit;
  }

  .menu {
    width: 200px;

    button {
      width: 100px;
    }
  }
}
